<!DOCTYPE html>

<html>
  <head>
    <title>Timestamp Microservice | freeCodeCamp.org</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="js/formHandler.js" defer></script>
  </head>

  <body>
    <header>
      <h1>Timestamp Microservice</h1>
      <hr />
    </header>
    <div class="container">
      <form method="get">
        <div>
          <label for="form-control">Date or timestamp</label>
          <br />
          <input type="text" class="form-control" id="form-control" />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>

    <footer >
      <hr>
      <p>
        Made with love by Abdelkarim Aoulallay <br />
        <ul>
          <li><a href="https://github.com/karimAoulallay">Github</a></li>
          <li><a href="https://www.linkedin.com/in/abdelkarim-aoulallay/">Linkedin</a></li>
          <li><a href="https://twitter.com/karim_aoulallay">X (Twitter)</a></li>
        </ul>
      </p>
    </footer>
  </body>
</html>
